:root {
    --fg: #d4be98;
    --bg: #202020;
    --hi: #e7c061;
    --bgcode: #282726;
    --kw: #f3886d;
    --li: #cccc70;
    --id: #d4be98;
    --code: #d8a657;
    --border: 4px;
    --pad: 1.5rem;
}

::selection {
    color: var(--bg);
    background: var(--hi);
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
article {
    width: 100%;
    max-width: 870px;
    padding: 2rem 1rem;
}

header {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

article pre {
    padding: var(--pad);
    overflow: scroll;
    background: var(--bgcode);
    border-radius: var(--border);
}

article p {
    margin: var(--pad) 0;
    line-height: 1.5rem;
}

@media (max-width: 870px) {
    article p {
        padding-left: 6px;
        padding-right: 6px;
    }
}

code {
    color: var(--code);
}

code .kw {
    font-weight: bold;
    color: var(--kw);
}

code .li {
    color: var(--li);
}

code .id {
    color: var(--id);
}

.inline {
    padding: 0 4px;
    background: var(--bgcode);
    border-radius: var(--border);
}

a {
    color: var(--li);
    text-decoration: none;
}

a .inline {
    color: var(--li);
}

a :hover {
    text-decoration: underline;
}